.trends-box {
    clear: both;
    margin-bottom: 25px;
    margin-top: 10px;
    padding: 0;
}

.trends-title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
    font-weight: 600;
}

a.keyword-link.pull-left {
    color: blue;
}

.trends-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}

.trends-tools {
    display: block;
    float: none;
    margin-top: 0;
    position: relative;
    padding: 0;
    text-align: right;
}

.trends-content {
    background-color: #ffffff;
    color: inherit;
    padding: 5px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.feed-element:first-child {
    margin-top: 0;
}
.feed-activity-list .feed-element {
    border-bottom: 1px solid #e7eaec;
}

.feed-element, .media-body {
    overflow: hidden;
}
.feed-element, .feed-element .media {
    margin-top: 5px;
}
.feed-element {
    padding-bottom: 5px;
}

.sidebard-panel .feed-element, .media-body, .sidebard-panel p {
    font-size: 12px;
}
.media-body {
    display: block;
    width: auto;
}
.chat-element, .media-body {
    overflow: hidden;
}
.media-body, .media-left, .media-right {
    display: block;
    vertical-align: top;
}
.media-body {
    min-width: 300px;
}

.text-muted {
    color: #888888;
}
.text-muted {
    color: #777;
}

.news-feed-content-title{
    padding-left: 4px;
    font-size: 8pt;
    padding-left: 4px;
    display: list-item;
    font-weight: 600;
    color: #5d9cec;
}

.news-feed-content-date{
    vertical-align: top;
    font-size: small;
    color: #1ab394;
    font-weight: 600;
    font-size: 8pt;
}

.nav{
    font-size: 8pt!important;
}

.news-feed-column{
    padding-left: 0px!important;
}

.feed-element .well {
    border: 1px solid #e7eaec;
    box-shadow: none;
    margin-bottom: 5px;
    padding: 10px 20px;
    line-height: 16px;
}
.well {
    min-height: 20px;
    max-height: 45px!important;
    padding: 7px;
    font-size: 12px!important;
    margin-bottom: 20px;
    display: inline-table!important;
    height: 45px!important;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.well a{
    color:blue;
    text-decoration: underline;
}

.slimScrollDiv{
    position: relative;
    overflow: hidden;
    width: auto;
    height: 180px;
}

[data-scrollable] {
    display: block;
}
.list-group {
    line-height: 1.3;
    overflow-y: scroll;
    overflow-x: hidden;
    width: auto;
    min-height: 100%;
    height: 100%;
}

.activity-list-group{
    height: 430px!important;
}

.panel-default{
      padding-bottom: 0px!important;
      background-color: #191919!important;
      border: 0px;
}

.media-body-trends a {
    color: blue!important;
    font-size: 12pt!important;
}

.list-group-trends{
    height: 242px!important;
}

.trend-column{
    margin-top: 11px!important;
}

.badge{
    font-size: 10px;
    background-color: #337ab7;
    padding: 3px 4px;
    margin-left: 5px;
}

.badge-disabled{
    color: #a3a3b3;
    background-color: #333;
    padding: 3px 4px;
    margin-left: 5px;
}

.modalContent{
    height: 600px!important;
}