.app-container{
    background:#30303d;
}

.graphContainer{
     background-color: #30303d; 
     color: #fff;
}

.summaryPieContainer{
    padding-right: 0px;
}

.timeSeriesContainer{
    padding-left: 0px;
}

#graphdiv{
    width:100%;
    margin-bottom: 40px;
}

.news-feed-title{
    color: #a3a3b3;
    text-transform: uppercase;
     padding-left: 6px;
    font-size: 12px;
    font-weight: 700;
}

.termBrowserContainer{
    padding-right: 0px;
    margin-right: 0px;
    padding-left: 8px!important;
}

.heatmapContainer{
    padding-left: 0px!important;
}

