#facts .noResults {
    padding: 20px;
}

#facts .ReactListView > * {
    background: #F3F3EC;
    margin: 0 auto;
}

#facts .cell {
    box-sizing: border-box;
    padding-top: 20px;
}

#facts .card {
    background: white;
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    overflow: hidden;
    border: 0;
    border-bottom: 1px solid #ccc;
    position: relative;
}

#facts .card {
    box-shadow: 2px 2px 8px #ccc;
}

#facts .card .title {
    margin: 0;
    padding: 0;
    color: #ccc;
    font-weight: normal;
    font-size: 1.5em;
}

#facts .card .date {
    margin: 0;
    padding: 0;
    color: #ccc;
}

#facts .card ul.tags {
    list-style: none;
    margin: 0;
    padding: 0;
}

#facts .card .tags li {
    display: block;
    float: left;
    margin-right: 0.5em;
    color: #ccc;
}

#facts .card .tags li:after {
    content: ",";
}

#facts .card .tags li:last-child:after {
    content: "";
}

.truncate-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    word-wrap: break-word;
    color: #ccc; 
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}

.loadingPage {
    position: absolute;
    width: 100%;
    height: 100%;
}

.loadingPage > * {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.loadingPage p {
    color: #ccc;
}

#filters {
    width: 100%;
    height: 36px;
    background: #F3F3EC;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #E3E3DC;
}

#filters ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#filters ul > li {
    float: left;
}

#filters ul > li .link {
    display: block;
    padding: 10px;
    cursor: pointer;
}

#filters .radios {
    display: block;
    margin: 10px 20px;
}

#filters label {
    /*background-color: #337ab7 !important;*/
    white-space: nowrap;
}

#filters .uniqueTags {
    padding: 0 20px;
    /* place tag links above list view */
    position: absolute;
    z-index: 1;
}

/* fact detail page */

#fact .topBar {
    background: #F3F3EC;
    height: 44px;
}

#fact .navBtn {
    line-height: 44px;
}

#fact .whitespace {
    padding-top: 20px;
}

#fact h1 {
    font-weight: normal;
    padding-bottom: 20px;
}

#fact p {

}

#fact .text {
    line-height: 2;
}

#fact .details {
    margin-top: 20px;
}

#fact .subheading {
    color: gray;
}

#fact .drop {
    padding-bottom: 20px;
}