/* Shared page styles */

body{
    height: 100%;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    position: absolute;
    -webkit-appearance: none;
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background: #f3f3f3;
    border-radius: 3px;
}
 
::-webkit-scrollbar-thumb {
    background: #999;
    min-height: 36px;
}

