
.search-form{
  display: inline-table;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  height: 30px;
  padding: 5px 12px;
  width: 100%;
  padding-right: 5px;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  font-size: 14px;
  border: 1px solid #aaa;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 31px;
  width: 100%;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  border-bottom-right-radius: 4px;
  z-index: 100;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 10px;
}

.react-autosuggest__suggestion:not(:first-child) {
  border-top: 1px solid #ddd;
}

.react-autosuggest__suggestion--focused {
  background-color: #0C7EAF;
  color: #fff;
}

.suggestion-content {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}

.type{
  font-size: 10px;
  font-weight: 700;
  color:#2ebd59;
}

.name {
  margin-left: 10px;
}

.highlight {
  color: #ee0000;
  font-weight: bold;
}

.react-autosuggest__suggestion--focused .highlight {
  color: #120000;
}