@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,200italic,400italic,700italic);

.hero-spacer {
    margin-top: 30px;
}

.hero-feature {
    margin-bottom: 20px;
}

body{
      background-color: #f5f8fa;
}

.dateRow{
    display: flex;
}

#leafletMap{
    height: 600px;
    margin-top: 12px;
}

#graphdiv{
    width:100%;
    margin-bottom: 40px;
}

.graphContainer{
     background-color: #ffffff;
}

.aggregatedBarChartTitle{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    height: 28px;
}

.radar-chart-description{
    text-align: center;
    font-size: 11px;
    font-weight: 800;
}

.breadcrumbContainer{
    width: 100%;
}

.breadcrumb{
    padding: 0px 15px!important;
    padding-top: 6px!important;
    margin-bottom: 0px!important;
    list-style: none;
    background-color: #eceeef;
    margin-top: 12px!important;
    margin-left: 5px;
    border: 1px solid #d3d5d3!important;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
}

ol.breadcrumb a {
    color: #337ab7;
    font-weight: 600;
}