@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,200italic,400italic,700italic);

.hero-spacer {
    margin-top: 30px;
}

.hero-feature {
    margin-bottom: 20px;
}

body{
      background-color: #f5f8fa;
}

.dateRow{
    display: inline-flex;
}

#leafletMap{
    height: 600px;
    margin-top: 12px;
}

#graphdiv{
    width:100%;
    margin-bottom: 40px;
}

.breadcrumbContainer{
    width: 100%;
}

.breadcrumb{
    padding: 0px 15px!important;
    padding-top: 6px!important;
    margin-bottom: 0px!important;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

ol.breadcrumb a {
    color: #3e5063;
    font-weight: 600;
}