.info {
  padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: rgba(66,73,79,.94);
  color: #fff;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    font-size: 11pt;
    font-weight: 700;
    color: #fff;
}

.legend-i {
  clear: both;
  width: 18px;
  height: 18px;
  float: right!important;
  margin-right: 8px;
  opacity: 0.7;
}
.legend-label {
  line-height: 18px;
}