.purpleStyle {
  border: '2px solid purple';
  color: 'purple';
  height: '10rem';
  font-size: '2rem';
  line-height: '10rem';
  margin-bottom: '1rem';
  text-align: 'center';
}

.dashboard-grid > div > div > div {
  width: 100%;
}

.dash-card {
  padding-bottom: 5px;
}
  .dash-card > div > div > div {
    height: inherit;
  }

  .dash-card .card-header {
    height: auto;
    width: 100%;
  }
  .dash-card .card-header div {
    padding-right: 0 !important;
    width: 100%;
  }  
  .dash-card .card-header button {
    top: 0;
    right: 0;
    float: right;
    margin-top: -10px !important;
    margin-bottom: -10px !important;
  }

    .dash-card .card-header button svg {
      color: rgb(85, 85, 85) !important;
    }

    .dash-card .card-header button.active svg {
      color: rgb(106, 27, 154) !important;
    }

    .dash-card .card-header button:hover svg {
      color: blueviolet !important;
    }

.dash-card-list {
  padding-top: 0px;
  padding-bottom: 5px;
}

.list-compact {
  padding: 7px 0 !important;
}